<div>
    <ul class="ml-20 mt-20 text-Gold-Color ">
        <p class="text-2xl mb-10">Admin Panel </p>
        <li class="active" class=" bg-myGarage shadow-md float-left text-2xl leading-normal h-auto py-2 px-5"><a routerLink="/category">Category</a></li>
        <li class="active" class=" bg-myGarage shadow-md float-left text-2xl leading-normal h-auto py-2 px-5 ml-5"><a routerLink="/product">Product</a></li>
        <li class="active" class=" bg-myGarage shadow-md float-left text-2xl leading-normal h-auto py-2 px-5 ml-5"><a routerLink="/user">User </a></li>
    </ul>
</div>