<div>
    <div class=" bg-myGarage">
        <div class=" border-b-4 h-52 w-auto p-4" >
            
            <a routerLink="/"> CarStore</a>

            <nav >
                <ul class=" float-none bg-myGarage text-Gold-Color font-mono ">
                    <li class="active" class=""><a routerLink="/">Home </a></li>
                    <li class="active" class=""><a routerLink="/products">Products </a></li>
                    <li class="active" class=""><a routerLink="/profile">Profile</a></li>
                    <li class="active" class=""><a routerLink="/newuser">New User</a></li>
                    <li class="active" class=""><a routerLink="/admin-panel">Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>