<div>
    <div class=" bg-myGarage">
        <div class=" border-b-4 h-52 w-auto p-4" >
            <nav>
                
                <ul class=" float-none bg-myGarage text-Gold-Color font-mono ">
                    <li class="active" class="shadow-md float-left text-2xl leading-normal h-auto py-2 px-5"><a routerLink="/frontpage"> CarStore</a></li>
                    <li class="active" class="shadow-md float-left text-2xl leading-normal h-auto py-2 px-5"><a routerLink="/">Home </a></li>
                    <li class="active" class="shadow-md float-left text-2xl leading-normal h-auto py-2 px-5"><a routerLink="/products">Products </a></li>
                    <li class="active" class="shadow-md float-left text-2xl leading-normal h-auto py-2 px-5"><a routerLink="/profile">Profile</a></li>
                    <li class="active" class="shadow-md float-left text-2xl leading-normal h-auto py-2 px-5"><a routerLink="/newuser">New User</a></li>
                    <li class="active" class="shadow-md float-left text-2xl leading-normal h-auto py-2 px-5"><a routerLink="/admin-panel">Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>